<div class="detail">
  <div *ngIf="!editing && blogItem" class="blogItem">
    <!-- <p class="blogId">{{ blogItem?._id }}</p> -->
    <h3>{{ blogItem?.title }}</h3>
    <p class="content">{{ blogItem?.body }}</p>
    <h4 class="username">written by {{ blogItem?.username }}</h4>
    <span class="date">Date {{ blogItem?.createdAt | date }}</span>
    <div class="edit-deleteBtn">
      <button class="editBtn" (click)="toggleEditing()">
        <i class="fa fa-edit" aria-hidden="true"></i
        ><span class="iconText">Edit</span>
      </button>
      <button class="deleteBtn" (click)="delete(blogItem)">
        <i class="fa fa-trash" aria-hidden="true"></i>
        <span class="iconText">Delete</span>
      </button>
    </div>
  </div>
  <form
    *ngIf="editing && blogItem"
    class="editForm"
    [formGroup]="editForm"
    (ngSubmit)="handleUpdate($event)"
  >
    <label for="blogTitle">Title:</label>
    <input
      class="form-control"
      type="text"
      value="{{ blogItem?.title }}"
      formControlName="newTitle"
    />
    <label for="blogTitle">Content:</label>
    <textarea class="form-control" rows="10" formControlName="newContent">{{
      blogItem?.body
    }}</textarea>
    <button type="submit" class="updateBtn">Update</button>
  </form>
  <button class="backBtn" (click)="goToBack()">
    <i class="fa fa-chevron-left"></i>Back
  </button>
</div>
