.detail {
  min-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

/* blogItem */
.blogItem {
  /* padding: 30px;
  border-radius: 10px; */
}

.blogId {
  text-align: right;
  color: #aaa;
}

.username {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: right;
  color: #aaa;
}

/* blogItem / edit-deleteBtn */
.edit-deleteBtn {
  display: flex;
  justify-content: flex-end;
}

.edit-deleteBtn > button {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
}

.edit-deleteBtn > button:hover {
  opacity: 0.7;
}

/* blogItem / backBtn */
.backBtn {
  position: absolute;
  right: 5%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: skyblue;
  cursor: pointer;
}

.backBtn:hover {
  opacity: 0.7;
}

/* editForm */
.updateBtn {
  display: block;
  width: 100px;
  margin: 30px auto 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: skyblue;
  cursor:pointer;
}

.updateBtn:hover{
  opacity: 0.7;
}
