.formGroup {
  min-width: 300px;
  width: 30%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
}

.formGroup > h1 {
  font-size: 1.5rem;
}

.formInput {
  padding-bottom: 15px;
}

.formInput > label {
  font-size: 0.8rem;
}

.formText {
  padding-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

.formBtn {
  width: 100%;
  padding: 10px 0;
  border-radius: 12px;
  background-color: skyblue;
  cursor: pointer;
}

.formBtn:hover {
  opacity: 0.7;
}
