#header {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  background-color: #080853;
  color: #fff;
}

#header h1 {
  font-size: 1.6rem;
}

#nav {
  flex-grow: 1;

  text-align: right;
}

.menu {
  color: #fff;
  padding-left: 10px;
}
