* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a:link{
  text-decoration: none;
}

select,
input,
textarea,
button {
  background: none;
  border: none;
}

body {
  background-color: #efefef;
}
