.blogList {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 5%;
}

.blogListItem {
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
}

.blogListItem:hover .blogTitle{
  text-decoration: underline;
}

.blogListItem > .blogLink{
  display: flex;
}

.blogLink > .blogDate{
  flex-grow: 1;
  text-align: right;
}

.newPostBtn {
  position: absolute;
  right: 5%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: skyblue;
  cursor: pointer;
  color:#000;
}

.newPostBtn:hover {
  opacity: 0.7;
  text-decoration: none;
}
