.newPost {
  min-width: 650px;
  width: 60%;
  margin: 0 auto;
  padding: 80px 30px 30px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.registerBtn {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.7rem;
  background-color: skyblue;
  cursor: pointer;
}

.registerBtn:hover {
  opacity: 0.7;
}

/*  backBtn */
.backBtn {
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  color: skyblue;
}

.backBtn > i {
  padding-right: 8px;
}

.backBtn:hover {
  opacity: 0.7;
}
