<div class="newPost">
  <h3>Register New Post</h3>
  <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
    <div class="titleArea">
      <label for="newTitle">Title: </label>
      <input id="newTitle" class="form-control" type="text" formControlName="title"/>
    </div>
    <div class="contentArea">
      <label for="newContent">Content: </label>
      <textarea id="newContent" class="form-control" formControlName="content"></textarea>
    </div>
    <button class="registerBtn">Register</button>
  </form>
</div>
