<div class="formGroup">
  <h1>Sign Up</h1>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="formInput">
      <label for="userId">ID:</label>
      <input
        id="userId"
        class="form-control"
        type="text"
        formControlName="userId"
      />
    </div>
    <div class="formInput">
      <label for="pw">Password:</label>
      <input
        id="pw"
        class="form-control"
        type="password"
        formControlName="password"
      />
    </div>
    <div class="formInput">
      <label for="pw">First Name:</label>
      <input
        id="firstName"
        class="form-control"
        type="text"
        formControlName="firstName"
      />
    </div>
    <div class="formInput">
      <label for="pw">Last Name:</label>
      <input
        id="lastName"
        class="form-control"
        type="text"
        formControlName="lastName"
      />
    </div>

    <p *ngIf="authMessage" class="errorMessage">
      {{ this.authMessage }}!
    </p>

    <p class="formText">
      You already have an account? <a routerLink="/signIn">Click</a>
    </p>
    <button class="formBtn" type="submit" [disabled]="!signUpForm.valid">
      Sign up
    </button>
  </form>
</div>
