.detail {
  min-width: 500px;
  width: 90%;
  margin: 0 auto;
  padding: 70px 30px 30px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

/* blogItem */
.blogId {
  text-align: right;
  color: #aaa;
}

.username {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: right;
  color: #aaa;
}

/* blogItem / edit-deleteBtn */
.edit-deleteBtn {
  display: flex;
  justify-content: flex-end;
}

.edit-deleteBtn > button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  color: #777;
}

.edit-deleteBtn > button:hover {
  opacity: 0.7;
}

.iconText {
  padding-left: 5px;
}

/* blogItem / backBtn */
.backBtn {
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  color: skyblue;
}

.backBtn > i {
  padding-right: 8px;
}

.backBtn:hover {
  opacity: 0.7;
}


