<header id="header">
  <h1>{{ title }}</h1>
  <nav id="nav">
    <a *ngIf="loggedIn" class="menu" routerLink="/home">Home</a>
    <a *ngIf="loggedIn" class="menu" routerLink="/keywords">Keywords</a>
    <p *ngIf="!loggedIn">
      <a class="menu signIn" routerLink="signIn">Sign In</a>
      <a class="menu signUp" routerLink="signUp">Sign Up</a>
    </p>
    <a
      *ngIf="loggedIn"
      class="menu signOut"
      routerLink="/home"
      (click)="signOut()"
      >Sign Out</a
    >
  </nav>
</header>
