#header {
  display: flex;
  align-items: center;
  padding: 10px 5%;
  background-color: #121235;
  color: #fff;
}

#header h1 {
  font-size: 1.6rem;
}

/* nav */
#nav {
  flex-grow: 1;

  text-align: right;
}

.username{
  font-size: 0.7rem;
  color: #aaa;
}

.menu {
  color: #fff;
  padding-left: 10px;
}

.menu:hover {
  color: skyblue;
}
