<form class="editForm" [formGroup]="editForm" (ngSubmit)="handleSubmit($event)">
  <label for="blogTitle">Title:</label>
  <input
    class="form-control"
    type="text"
    value="{{ blogItem?.title }}"
    formControlName="newTitle"
  />
  <label for="blogTitle">Content:</label>
  <textarea class="form-control" rows="10" formControlName="newContent">{{
    blogItem?.body
  }}</textarea>
  <button type="submit" class="updateBtn">
    {{ currentLocation === "/newPost" ? "Register" : "Update" }}
  </button>
</form>
